#!/bin/bash

set -euxo pipefail

{{ if not (eq .chezmoi.osRelease.id "arch") }}
    echo "Not running arch... exiting"
    exit
{{ end }}

if ! command -v paru 2>&1 >/dev/null ; then
    git clone https://aur.archlinux.org/paru.git ~/paru
    cd ~/paru
    makepkg -si
    rm -rf ~/paru
else
    echo "Skipping paru installation (already installed)"
fi

